<a href="https://colab.research.google.com/github/svkamat111922-sketch/Online-Store-Inventory/blob/main/Untitled10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import files
uploaded = files.upload()

Saving airline_passenger_satisfaction.csv to airline_passenger_satisfaction.csv

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.preprocessing import MinMaxScaler, LabelEncoder
from sklearn.decomposition import PCA

In [3]:
df = pd.read_csv("airline_passenger_satisfaction.csv")
df.head()

,ID,Gender,Age,Customer Type,Type of Travel,Class,Flight Distance,Departure Delay,Arrival Delay,Departure and Arrival Time Convenience,...,On-board Service,Seat Comfort,Leg Room Service,Cleanliness,Food and Drink,In-flight Service,In-flight Wifi Service,In-flight Entertainment,Baggage Handling,Satisfaction
0,1,Male,48,First-time,Business,Business,821,2,5.0,3,...,3,5,2,5,5,5,3,5,5,Neutral or Dissatisfied
1,2,Female,35,Returning,Business,Business,821,26,39.0,2,...,5,4,5,5,3,5,2,5,5,Satisfied
2,3,Male,41,Returning,Business,Business,853,0,0.0,4,...,3,5,3,5,5,3,4,3,3,Satisfied
3,4,Male,50,Returning,Business,Business,1905,0,0.0,2,...,5,5,5,4,4,5,2,5,5,Satisfied
4,5,Female,49,Returning,Business,Business,3470,0,1.0,3,...,3,4,4,5,4,3,3,3,3,Satisfied

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129880 entries, 0 to 129879
Data columns (total 24 columns):
 #   Column                                  Non-Null Count   Dtype
---  ------                                  --------------   -----
 0   ID                                      129880 non-null  int64
 1   Gender                                  129880 non-null  object
 2   Age                                     129880 non-null  int64
 3   Customer Type                           129880 non-null  object
 4   Type of Travel                          129880 non-null  object
 5   Class                                   129880 non-null  object
 6   Flight Distance                         129880 non-null  int64
 7   Departure Delay                         129880 non-null  int64
 8   Arrival Delay                           129487 non-null  float64
 9   Departure and Arrival Time Convenience  129880 non-null  int64
 10  Ease of Online Booking                  129880 non-null  int64
 11  Check-in Service                        129880 non-null  int64
 12  Online Boarding                         129880 non-null  int64
 13  Gate Location                           129880 non-null  int64
 14  On-board Service                        129880 non-null  int64
 15  Seat Comfort                            129880 non-null  int64
 16  Leg Room Service                        129880 non-null  int64
 17  Cleanliness                             129880 non-null  int64
 18  Food and Drink                          129880 non-null  int64
 19  In-flight Service                       129880 non-null  int64
 20  In-flight Wifi Service                  129880 non-null  int64
 21  In-flight Entertainment                 129880 non-null  int64
 22  Baggage Handling                        129880 non-null  int64
 23  Satisfaction                            129880 non-null  object
dtypes: float64(1), int64(18), object(5)
memory usage: 23.8+ MB

In [5]:
df.describe()

,ID,Age,Flight Distance,Departure Delay,Arrival Delay,Departure and Arrival Time Convenience,Ease of Online Booking,Check-in Service,Online Boarding,Gate Location,On-board Service,Seat Comfort,Leg Room Service,Cleanliness,Food and Drink,In-flight Service,In-flight Wifi Service,In-flight Entertainment,Baggage Handling
count,129880.000000,129880.000000,129880.000000,129880.000000,129487.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000
mean,64940.500000,39.427957,1190.316392,14.713713,15.091129,3.057599,2.756876,3.306267,3.252633,2.976925,3.383023,3.441361,3.350878,3.286326,3.204774,3.642193,2.728696,3.358077,3.632114
std,37493.270818,15.119360,997.452477,38.071126,38.465650,1.526741,1.401740,1.266185,1.350719,1.278520,1.287099,1.319289,1.316252,1.313682,1.329933,1.176669,1.329340,1.334049,1.180025
min,1.000000,7.000000,31.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,32470.750000,27.000000,414.000000,0.000000,0.000000,2.000000,2.000000,3.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,3.000000,2.000000,2.000000,3.000000
50%,64940.500000,40.000000,844.000000,0.000000,0.000000,3.000000,3.000000,3.000000,3.000000,3.000000,4.000000,4.000000,4.000000,3.000000,3.000000,4.000000,3.000000,4.000000,4.000000
75%,97410.250000,51.000000,1744.000000,12.000000,13.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,5.000000,4.000000,4.000000,4.000000,5.000000,4.000000,4.000000,5.000000
max,129880.000000,85.000000,4983.000000,1592.000000,1584.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000

In [6]:
df.isnull().sum()

ID                                          0
Gender                                      0
Age                                         0
Customer Type                               0
Type of Travel                              0
Class                                       0
Flight Distance                             0
Departure Delay                             0
Arrival Delay                             393
Departure and Arrival Time Convenience      0
Ease of Online Booking                      0
Check-in Service                            0
Online Boarding                             0
Gate Location                               0
On-board Service                            0
Seat Comfort                                0
Leg Room Service                            0
Cleanliness                                 0
Food and Drink                              0
In-flight Service                           0
In-flight Wifi Service                      0
In-flight Entertainment                     0
Baggage Handling                            0
Satisfaction                                0
dtype: int64

In [11]:
num_cols = df.select_dtypes(include=np.number).columns
df[num_cols] = df[num_cols].fillna(df[num_cols].mean())
cat_cols = df.select_dtypes(include='object').columns
for col in cat_cols:
    df[col].fillna(df[col].mode()[0], inplace=True)

/tmp/ipython-input-1736840234.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].mode()[0], inplace=True)

In [13]:
df.drop_duplicates(inplace=True)

In [15]:
Q1 = df[num_cols].quantile(0.25)
Q3 = df[num_cols].quantile(0.75)
IQR = Q3 - Q1

df = df[~((df[num_cols] < (Q1 - 1.5 * IQR)) |
          (df[num_cols] > (Q3 + 1.5 * IQR))).any(axis=1)]

In [17]:
extra_df = df[['ID']].copy()
extra_df['Extra_Info'] = 'Sample'

df = pd.merge(df, extra_df, on='ID', how='left')

In [18]:
le = LabelEncoder()
for col in cat_cols:
    df[col] = le.fit_transform(df[col])

In [19]:
scaler = MinMaxScaler()
df[num_cols] = scaler.fit_transform(df[num_cols])

In [21]:
numeric_df = df.select_dtypes(include=np.number)
columns_with_high_variance = numeric_df.columns[numeric_df.var() > 0.01]
df = df[columns_with_high_variance]

In [22]:
pca = PCA(n_components=5)
pca_data = pca.fit_transform(df[num_cols])

pca_df = pd.DataFrame(pca_data, columns=['PC1','PC2','PC3','PC4','PC5'])
pca_df.head()

        PC1       PC2       PC3       PC4       PC5
0  0.440270 -0.176208 -0.331838 -0.106510 -0.471778
1  0.341310  0.384116 -0.709307  0.095893 -0.227919
2  0.564899 -0.571701  0.170526 -0.492364  0.048585
3  0.123545  0.050967 -0.583527 -0.121423  0.255438
4  0.802821 -0.221922  0.166356 -0.233197 -0.154561

In [23]:
sample_df = df.sample(frac=0.3, random_state=42)
sample_df.head()

,ID,Gender,Age,Customer Type,Type of Travel,Class,Flight Distance,Departure Delay,Arrival Delay,Departure and Arrival Time Convenience,...,On-board Service,Seat Comfort,Leg Room Service,Cleanliness,Food and Drink,In-flight Service,In-flight Wifi Service,In-flight Entertainment,Baggage Handling,Satisfaction
3418,0.051055,1,0.679487,1,1,1,0.189636,0.0,0.0,0.8,...,1.000000,0.25,0.4,0.4,0.4,0.75,0.2,0.4,1.00,0
63154,0.953434,1,0.230769,0,0,0,0.141400,0.0,0.0,0.0,...,0.333333,0.00,1.0,0.2,0.2,0.75,0.6,0.2,1.00,0
2287,0.033631,1,0.192308,0,0,1,0.136990,0.0,0.0,0.0,...,1.000000,0.25,0.4,0.4,0.4,0.75,0.2,0.4,1.00,0
20848,0.328691,0,0.487179,1,0,0,0.973539,0.0,0.0,0.4,...,1.000000,0.25,1.0,0.8,0.8,1.00,0.4,1.0,0.50,1
28877,0.456533,0,0.423077,1,1,0,0.652701,0.7,0.0,1.0,...,0.666667,0.75,0.6,1.0,0.8,0.75,0.6,0.8,0.25,0

In [24]:
df['Age_Group'] = pd.cut(
    df['Age'],
    bins=[0, 0.33, 0.66, 1.0],
    labels=['Young', 'Adult', 'Senior']
)

df[['Age', 'Age_Group']].head()

        Age Age_Group
0  0.525641     Adult
1  0.435897     Adult
2  0.551282     Adult
3  0.538462     Adult
4  0.461538     Adult

In [26]:
# Make sure Age is numeric
df['Age'] = pd.to_numeric(df['Age'], errors='coerce')

# Drop missing values
age_data = df['Age'].dropna()

In [27]:
# Number of bins
bins = 5

# Create bins
df['Age_Bin'] = pd.cut(age_data, bins=bins)
df[['Age', 'Age_Bin']].head()

        Age     Age_Bin
0  0.525641  (0.4, 0.6]
1  0.435897  (0.4, 0.6]
2  0.551282  (0.4, 0.6]
3  0.538462  (0.4, 0.6]
4  0.461538  (0.4, 0.6]

In [28]:
# Mean smoothing
bin_means = df.groupby('Age_Bin')['Age'].transform('mean')
df['Age_Smoothed_Mean'] = bin_means

df[['Age', 'Age_Smoothed_Mean']].head()

/tmp/ipython-input-801399689.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  bin_means = df.groupby('Age_Bin')['Age'].transform('mean')

        Age  Age_Smoothed_Mean
0  0.525641            0.49526
1  0.435897            0.49526
2  0.551282            0.49526
3  0.538462            0.49526
4  0.461538            0.49526

In [29]:
# Median smoothing
bin_medians = df.groupby('Age_Bin')['Age'].transform('median')
df['Age_Smoothed_Median'] = bin_medians

df[['Age', 'Age_Smoothed_Median']].head()

/tmp/ipython-input-3905681945.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  bin_medians = df.groupby('Age_Bin')['Age'].transform('median')

        Age  Age_Smoothed_Median
0  0.525641                  0.5
1  0.435897                  0.5
2  0.551282                  0.5
3  0.538462                  0.5
4  0.461538                  0.5

In [30]:
def smooth_by_boundaries(series):
    sorted_values = series.sort_values()
    min_val = sorted_values.iloc[0]
    max_val = sorted_values.iloc[-1]

    return series.apply(
        lambda x: min_val if abs(x - min_val) < abs(x - max_val) else max_val
    )

df['Age_Smoothed_Boundary'] = (
    df.groupby('Age_Bin')['Age']
      .transform(smooth_by_boundaries)
)

df[['Age', 'Age_Smoothed_Boundary']].head()

/tmp/ipython-input-2477851785.py:11: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby('Age_Bin')['Age']

        Age  Age_Smoothed_Boundary
0  0.525641               0.589744
1  0.435897               0.410256
2  0.551282               0.589744
3  0.538462               0.589744
4  0.461538               0.410256

In [31]:
df.to_csv("preprocessed_airline_data.csv", index=False)
files.download("preprocessed_airline_data.csv")